/***************************************************
 *                                                 *
 *   @author : ChenFei                             *
 *   @date : 2020/06/10                            *
 *                                                 *
 ***************************************************/
.root{
/*
    类似 Element 的色卡
    primary-color:#409EFF;
    success-color:#67C23A;
    info-color:#909399;
    warn-color:#E6A23C;
    danger-color:#F56C6C;

*/

    primary-color:#5C80EF;
    success-color:#33C437;
    info-color:#68C0FF;
    warn-color:#e6a23c;
    danger-color:#FF4B3A;

    text-color:#303133;
    border-color:#D4D7DE;
    base-color:#F2F3F5;

}

